nav {
    position: fixed;
    top: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background-color: #222222;
    color: #fff;
    text-align: center;
}

footer > p {
    margin: 1rem;
}